html{
	font-family: "Times New Roman";
	background: #EEEEE0;
}

nav {
	background-color: #F2F2f2;
}

.casaDados{
	
	margin: 0;
	
	border: solid 1px;
	border-radius: 10px;
}

.branco{
	background: white;	
	border-radius: 5px;
}

.lado-direito{
	float: right;
}

.lado-esquerdo{
	float: left;
}

.categorias{
	width: 180px;
}
